<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | sort: "order" | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <!-- <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <div class="con">
              <div class="bar top"></div>
              <div class="bar middle"></div>
              <div class="bar bottom"></div>
            </div>
          </span>
        </label>
        <h1>{{ page.title}}</h1>
        <div class="trigger">
          {% for link in site.navigation %}
              {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
            {% endif %}

              <a class="page-link {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}"
                 href="{% if page.layout == 'amp' %}{{ link.url | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}{% elsif page.layout == 'default' %}{{ link.url | prepend: site.baseurl | prepend: site.url }}{% endif %}">
                 {{ link.text }}
              </a>

          {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>
</header>
