---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="playarea-wrapper">

      <div class="hand row">
        {% include p1-hero.html %}
      </div>
      <div class="hero row">
        {% include p1-hero.html %}
      </div>
      <div class="fort row">
        {% include p1-hero.html %}
      </div>
      <div class="defence row">
        {% include p1-hero.html %}
      </div>


      <div class="monsters row">
        {% include p1-hero.html %}
      </div>


      <div class="defence row">
        {% include p1-hero.html %}
      </div>
      <div class="fort row">
        {% include p1-hero.html %}
      </div>
      <div class="hero row">
        {% include p1-hero.html %}
      </div>
      <div class="hand row">
        {% include p1-hero.html %}
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Corben:400,700', 'Anton']
        }
      });
    </script>

  </body>

</html>
