---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="body">

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <article itemscope itemtype="{{page.itemtype}}">

            {% assign min = 1 %}
            {% assign max = 16 %}
            {% assign diff = max | minus: min %}
            {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

            {% for hero in site.data.herodeck  limit: 1 offset: randomNumber %}
              <ul>
                <li>Name: {{hero.name}}</li>
                <li>Attack: {{hero.attack}}</li>
                <li>Defence: {{hero.defense}}</li>
              </ul>
            {% endfor %}

          </article>
        </div>
      </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Corben:400,700', 'Anton']
        }
      });
    </script>

  </body>

</html>
